[submodule "node_modules/.cache/gh-pages/https!github.com!DFIATTV!PetStore.git"]
	path = node_modules/.cache/gh-pages/https!github.com!DFIATTV!PetStore.git
	url = https://github.com/DFIATTV/PetStore.git
